* {
    border: none;
    font-size: 12px;
    border-radius: 0;
    font-family: "Noto Sans";
}

window#waybar {
    background: transparent;
}

#custom-app-launcher {
    color: #ffffff;
    font-size: 24px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 4px;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 4px;
    background: #333333;
    border: 2px solid #1793d1;
}

#custom-app-launcher:hover {
    background: #1793d1;
}

#workspaces {
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    border-radius: 8px;
    background: #333333;
    border: 2px solid #1793d1;
}

#workspaces button {
    color: #ffffff;
    min-width: 20px;
    min-height: 20px;
    background: transparent;
}

#workspaces button.persistent {
    color: #808080;
}

#workspaces button:hover {
    color: #1793d1;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
}

#workspaces button.active {
    color: #ffffff;
    border-radius: 4px;
    background: #1793d1;
}

#clock {
    color: #ffffff;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 16px;
    border-radius: 8px;
    background: #333333;
    padding-right: 16px;
    border: 2px solid #1793d1;
}

#custom-clipboard {
    color: #ffffff;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 4px;
    background: #333333;
    border: 2px solid #1793d1;
}

#custom-clipboard:hover {
    color: #1793d1;
}

#custom-emoji {
    color: #ffffff;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 4px;
    background: #333333;
    border: 2px solid #1793d1;
}

#custom-emoji:hover {
    color: #1793d1;
}

#pulseaudio {
    color: #ffffff;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 16px;
    border-radius: 8px;
    background: #333333;
    padding-right: 16px;
    border: 2px solid #1793d1;
}

#pulseaudio:hover {
    color: #1793d1;
}

#cpu {
    color: #ffffff;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 16px;
    border-radius: 8px;
    padding-right: 16px;
    background: #333333;
    border: 2px solid #1793d1;
}

#memory {
    color: #ffffff;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    padding-left: 16px;
    border-radius: 8px;
    padding-right: 16px;
    background: #333333;
    border: 2px solid #1793d1;
}

#custom-exit {
    color: #ffffff;
    font-size: 16px;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 8px;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 4px;
    background: #333333;
    border: 2px solid #1793d1;
}

#custom-exit:hover {
    color: #1793d1;
}
