* {
    border: none;
    font-size: 16px;
    transition: none;
    border-radius: 0;
    font-weight: normal;
}

tooltip {
    color: #ffffff;
    padding-left: 12px;
    border-radius: 8px;
    background: #333333;
    padding-right: 12px;
    border: 2px solid #1793d1;
    font-family: "Adwaita Mono";
}

#waybar {
    background: transparent;
}

#custom-app-launcher {
    color: #ffffff;
    font-size: 24px;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 4px;
    background: #333333;
    border: 2px solid #1793d1;
    font-family: "Adwaita Sans";
}

#custom-app-launcher:hover {
    background: #1793d1;
}

#workspaces {
    border-radius: 8px;
    background: #333333;
    border: 2px solid #1793d1;
}

#workspaces button {
    color: #ffffff;
    min-width: 20px;
    background: transparent;
    font-family: "Adwaita Sans";
}

#workspaces button.persistent {
    color: #808080;
}

#workspaces button:hover {
    color: #1793d1;
    box-shadow: inherit;
    text-shadow: inherit;
    border-radius: inherit;
}

#workspaces button.active {
    color: #ffffff;
    border-radius: 4px;
    background: #1793d1;
}

#clock {
    color: #ffffff;
    padding-left: 12px;
    border-radius: 8px;
    background: #333333;
    padding-right: 12px;
    border: 2px solid #1793d1;
    font-family: "Adwaita Sans";
}

#tray {
    color: #ffffff;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 12px;
    background: #333333;
    border: 2px solid #1793d1;
    font-family: "Adwaita Sans";
}

#pulseaudio {
    color: #ffffff;
    padding-left: 12px;
    border-radius: 8px;
    background: #333333;
    padding-right: 12px;
    border: 2px solid #1793d1;
    font-family: "Adwaita Sans";
}

#pulseaudio:hover {
    color: #1793d1;
}

#temperature {
    color: #ffffff;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 12px;
    background: #333333;
    border: 2px solid #1793d1;
    font-family: "Adwaita Sans";
}

#cpu {
    color: #ffffff;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 12px;
    background: #333333;
    border: 2px solid #1793d1;
    font-family: "Adwaita Sans";
}

#memory {
    color: #ffffff;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 12px;
    background: #333333;
    border: 2px solid #1793d1;
    font-family: "Adwaita Sans";
}

#custom-power-menu {
    color: #ffffff;
    padding-left: 12px;
    border-radius: 8px;
    padding-right: 4px;
    background: #333333;
    border: 2px solid #1793d1;
    font-family: "Adwaita Sans";
}

#custom-power-menu:hover {
    color: #1793d1;
}
