* {
    background: none;
    color: #cdd6f4;
    font-family: "Noto Sans";
    font-size: 16px;
    font-style: normal;
    outline: none;
}

#window {
    background: #1e1e2e;
    border-radius: 8px;
    border: 2px solid #89b4fa;
    margin: 4px;
    padding: 4px;
}

#input {
    background: #313244;
    border-radius: 8px;
    margin: 16px 8px;
    padding: 4px 16px;
}

#outer-box {
    border: 2px solid #89b4fa;
    border-radius: 8px;
    padding: 4px;
}

#img {
    margin: 4px;
}

#entry {
    background-color: #313244;
    border-radius: 8px;
    margin: 4px;
    padding: 4px;
}

#entry:selected {
    background-color: #6c7086;
}

#text {
    margin: 4px;
}
