* {
    color: #cdd6f4;
    font-style: normal;
    background: transparent;
    font-family: "Adwaita Sans"; 
}

#window {
    margin: 4px;
    padding: 4px;
    border-radius: 8px;
    background: #1e1e2e;
    border: 2px solid #89b4fa;
}

#input {
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
}

#outer-box {
    padding: 16px;
}

#img {
    margin: 4px;
}

#entry {
    padding: 4px;
    border-radius: 8px;
}

#entry:selected {
    background-color: #313244;
}

#text {
    margin: 4px;
}
