* {
    color: #e6e6e6;
    font-style: normal;
    background: transparent;
    font-family: "Noto Sans"; 
}

#window {
    margin: 4px;
    padding: 4px;
    border-radius: 8px;
    background: #0d0d0d;
    border: 2px solid #1793d1;
}

#input {
    padding: 4px;
    margin: 4px;
    border-radius: 8px;
}

#outer-box {
    padding: 16px;
}

#img {
    margin: 4px;
}

#entry {
    padding: 4px;
    border-radius: 8px;
}

#entry:selected {
    background-color: #262626;
}

#text {
    margin: 4px;
}

